extends layout
block head
  script(src="/javascripts/controllers/createController.js")
  script(src="/javascripts/controllers/queryController.js")
  script(src="/javascripts/controllers/surveyDetailController.js")


block content
  ng-view

