extends layout
block head
  script(src="/javascripts/vendor/angular/angular.js")
  script(src="/javascripts/vendor/angular/angular-resource.js")
  script(src="/javascripts/vendor/angular/angular-route.js")
  script(src="/javascripts/app.js")
  script(src="/javascripts/services/SurveyService.js")
  script(src="/javascripts/directives/newQuestion.js")
  script(src="/javascripts/controllers/createController.js")
  script(src="/javascripts/controllers/queryController.js")
  script(src="/javascripts/controllers/surveyTakingController.js")
  script(src="/javascripts/controllers/surveyReportController.js")

block content
  ng-view

