extends layout
block head
  script(src="/javascripts/controllers/createController.js")
  script(src="/javascripts/controllers/queryController.js")
  script(src="/javascripts/controllers/surveyTakingController.js")
  script(src="/javascripts/controllers/surveyReportController.js")

block content
  ng-view

