doctype html
html(ng-app="surveyApp")
  head
    title= title
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/vendor/jquery/dist/jquery.js")
    script(src="/javascripts/vendor/bootstrap/bootstrap.min.js")


    block head
  body
    nav(class="navbar navbar-default navbar-fix-top")
      div(class="container-fluid")
        div(class="navbar-header")
            a(class="navbar-brand" href="#/surveys") meanSurvey
            ul(class="nav navbar-nav")
              li
                a(href="#/new")
                        | New Survey


    block content
