extends layout

block content
  form(action="/login" method="post")
    input(type="text" name="username" placeholder="username")
    input(type="submit" value="Log In")

  form(action="/signup" method="post")
    input(type="text" name="username" placeholder="Username")
    input(type="password" name="password" placeholder="Password")
    input(type="submit" value="Sign Up")
