body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #777;
}

.debug {border: 1px solid red;}

.question-block {
  margin-bottom: 1em;
}

.well{
  background-color: #e7e7e7;
}

.well:hover{
  background-color: #0066cc;
  color: #f2f2f2;
  cursor: pointer;
}

.question-choose-block{
  background-color: #e7e7e7;
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
}

.question-choose-block p{
  font-size: 1.5em;
  background-color: #0098ff;
  color: #fff;
  margin: .5em;
  padding: .5em;
  border-radius: 5px;
}

.answer-content {
  margin: .5em;
  font-size: 1.25em;
}

.top-block {
  height:400px;
  background-image: url("/images/home_top_block.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.survey-list {
  margin: 1em;
}