body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.debug {border: 1px solid red;}

.question-block {
  margin-bottom: 1em;
}

.well{
  background-color: #ccc;
}

.well:hover{
  background-color: #0066cc;
  color: #f2f2f2;
  cursor: pointer;
}

.top-block {
  height:400px;
  background-image: url("/images/home_top_block.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.survey-list {
  margin: 1em;
}